@model ErrorViewModel
@{
    ViewData["Title"] = "An error has occurred";
}

@{ 
    if (Model == null)
    {
        <div>
            <h2>oooops! An error has occurred, but don't worry. Our team will be notify and fix issue early.</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }
}