@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos</h1>
    <p>Esta é uma palicação Web apps com ASP.NET Core.</p>
    <p>Trata-se de um sistema para cadastro de livros e seus respectivos fornecedores.</p>
</div>
